<template>
	<div>
		<div class="show-hide">
			<ybtn
					text="Show Alert"
					:block='true'
					color= 'error'
					@click.native="show"
			/>
		 </div>
		 <transition
				name="slide"
				mode="out-in"
			>
			<div v-if="alertShow" class="alert-wrp">
				<div class="alert-content">
					<div class="alert-header">
						<h5>{{title}}</h5>
						<circleBtn
							widthHeight="30px"
							icon="close"
							@click.native="hide"
						/>
					</div>
					<div class="alert-body">
						 {{message}}
					</div>
				</div>
			</div>
		 </transition>
	</div>
</template>

<script>
export default {
	name: 'amodal',
	props: {
		title: {
			type: String,
			required: false,
			default: 'Alert'
		},
		message: {
			type: String,
			required: true,
			default: 'message'
		},
	},
	data() {
		return {
			alertShow: false
		}
	},
	methods: {
		show: function () {
			this.alertShow = true
		},
		hide: function () {
			this.alertShow = false
		}
	}
}
</script>

<style lang="scss">
.alert-wrp{
	position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: flex-start;
	justify-content: center;
	.alert-content{
		width: 250px;
		// height: 150px;
		background: #fff;
		box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
		margin-top: 25px;
		display: block;
		.alert-header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-bottom: 6px;
			padding-bottom: 6px;
			border-bottom: 1px solid #ccc;
			h5{
				color: rgba(0,0,0,0.75);
				margin: 0;
				padding: 0;
				font-size: 15px;
			}
		}
		.alert-body{
			padding-top: 6px;
			color: rgba(0,0,0,0.75);
			text-align: left;
			font-size: 14px;
			padding-bottom: 6px;
		}
	}
}

.slide-leave-active,
.slide-enter-active {
  transition: .3s;
}
.slide-enter {
  transform: translate(0, -100px);
}
.slide-leave-to {
  transform: translate(0, -500px);
}
</style>
