<template>
  <div>
    <div class="showModal">
      <ybtn
        text="Show Modal"
        :block='true'
        @click.native="show"
      />
    </div>
    <transition
      name="fade"
      mode="out-in"
    >
      <div v-if="isShow" class="modal-wrp">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Modal Title</h5>
            <circleBtn 
              widthHeight="30px"
              icon="close"
              @click.native="hide"
            />
          </div>
          <div class="modal-body">
            <div>
              <h5>Contact</h5>
            </div>
            <div>
              <cinput
                v-bind:value="input"
                v-on:input="cinput = $event"
                :text="cinput"
                placeholder="Placeholder"
                borderColor="#ccc"
                borderColorActive="#4caf50"
                :icon= 'true'
                iconColor="#4caf50"
                iconName="done"
              />
            </div>
          </div>
          <div class="modal-footer">
             <ybtn
                text="Save"
                :block='false'
                @click.native="hide"
              />
              <ybtn
                text="Close"
                :block='false'
                @click.native="hide"
                color="error"
              />
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'ymodal',
  data() {
    return {
      isShow: false,
      text: '',
      input: '',
      cinput: ''
    }
  },
  methods: {
    show: function () {
      this.isShow = true
    },
    hide: function () {
      this.isShow = false
    }
  }
}
</script>

<style lang="scss">
.modal-wrp{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content{
    background: #fff;
    width: 400px;
    // height: 300px;
    z-index: 999999999999;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    .modal-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-bottom: 1px solid #ccc;
      h5{
        margin: 0;
        padding: 0;
        font-size: 17px;
      }
    }
    .modal-body{
      padding: 16px;
    }
    .modal-footer{
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-top: 1px solid #ccc;
      a{
        margin: 0;
      }
    }
  }
}


.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
