<template>
  <div 
    v-bind:style="[styleBorderColor]"
    class="custom-input">
    <input
      @focus="onFocus"
      @blur="onBlur"
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
      type="text">
    <label class="custom-label">{{placeholder}}</label>
    <span 
      v-bind:style="[styleBorderActive]"
      class="input-line">
    </span>
    <div
      v-if="icon" 
      v-bind:style="[styleIconColor]"
      class="input-icon">
      <i class="material-icons">
        {{iconName}}
      </i>
    </div>
  </div>
</template>

<script>
export default {
  name: 'cinput',
  props: {
     placeholder: {
      type: String,
      required: false,
      default: 'placeholder'
    },
    text: {
      type: String,
      required:false,
      default: undefined
    },
    borderColor: {
      type: String,
      required: false,
      default: '#ccc'
    },
    borderColorActive: {
      type: String,
      required: false,
      default: '#4caf50'
    },
    icon: {
      type: Boolean,
      required: false,
      default: false
    },
    iconName: {
      type: String,
      required: false,
      default: 'done'
    },
    iconColor: {
      type: String,
      required: false,
      default: '#4caf50'
    },
  },
  data() {
    return {
      focused: true,
      value: '',
      styleBorderColor: {
        borderBottomColor: this.borderColor
      },
      styleIconColor: {
        color: this.iconColor
      },
      styleBorderActive: {
        background: this.borderColorActive
      }
    }
  },
  methods: {
    onFocus() {
      this.focused = true
      var element = document.querySelector('.custom-label');
      element.classList.add("label-active");
       var line = document.querySelector('.input-line');
       line.classList.add("input-line-active");
    },
    onBlur() {
      this.focused = false
      if(this.text == ''){
        var element = document.querySelector('.custom-label');
        element.classList.remove("label-active");
        var line = document.querySelector('.input-line');
        line.classList.remove("input-line-active");
      }
    }
  }
}
</script>

<style lang="scss">
.custom-input{
  position: relative;
  display: flex;
  align-items: center;
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  border-style: solid;
  border-width: 1px;
  .input-line{
    position: absolute;
    bottom: -1px;
    z-index: 2;
    height: 2px;
    width: 0;
    left: 0;
    // background: #2196f3;
    -webkit-transition: width 0.6s; /* Safari */
    transition: width 0.6s;
  }
  .input-line-active{
    width: 100%;
    -webkit-transition: width 0.6s; /* Safari */
    transition: width 0.6s;
  }
  label{
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #898989;
    top: auto;
    transition: all .3s ease 0s;
  }
  .label-active{
    transition: all .3s ease 0s;
    font-size: 11px;
    transform: translateY(-18px);
  }
  input{
    width: 100%;
    outline: none;
    padding: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    box-sizing: border-box;
    background: none;
    z-index: 2;
    position: relative;
  }
}
</style>
