<template>
    <div class="input-classic">
      <input
        v-bind:placeholder="placeholder"
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
        type="text"
        v-bind:class="[styleInput]"
        v-bind:style="[styleBorderRadius, styleBorderColor, styleBorderWidth]"
      >
    </div>
</template>

<script>
export default {
  name: 'yinput',
  props:{
    value: {
      type: String,
      required: false,
      default: undefined
    },
    placeholder: {
      type: String,
      required: false,
      default: 'placeholder'
    },
    styleInput:{
      type: String,
      required: false,
      default: 'classic'
    },
    borderRadius: {
      type: String,
      required: false,
      default: '2px'
    },
    borderColor: {
      type:String,
      required: false,
      default: '#ccc'
    },
    borderWidth: {
      type: String,
      required: false,
      default: '1px'
    }
  },
  data() {
    return {
      styleBorderRadius: {
        borderRadius: this.borderRadius
      },
      styleBorderColor: {
        borderColor: this.borderColor
      },
      styleBorderWidth: {
        borderWidth: this.borderWidth
      }
    }
  },
}
</script>

<style lang="scss">
.input-classic{
  position: relative;
}
.classic{
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  box-sizing: border-box;
  &:focus{
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  }
}
</style>
