<template>
  <div>
    <div class="yalert">
      <div class="showHideBtn">
        <ybtn
          @click.native="showHide"
          v-bind:text="text"
          v-bind:color="color"
          v-bind:link="link"
          v-bind:borderRadius="borderRadius"
          v-bind:backgroundColor="backgroundColor"
          v-bind:textColor="textColor"
          v-bind:borderWidth="borderWidth"
          v-bind:borderColor="borderColor"
          v-bind:fontSize="fontSize"
          v-bind:id="id"
          v-bind:block="block"
        />

        <!-- <button @click="showHide">asdas</button> -->
      </div>
       <transition name="slide-fade">
        <div
          v-if="show"
          class="alert-content"
          v-bind:class="[alertColor, alertPositionY, alertPositionX]"
          v-bind:style="[styleAlertBackground, styleAlertTextColor, styleAlertOpacity]"
        >
          <div v-if="alertIcon" class="alert-icon">
            <i class="material-icons">
              {{alertIcon}}
            </i>
          </div>
          <div class="alert-text">
            {{allertText}}
          </div>
        </div>
       </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'yalert',
  props: {
    alertColor: {
      type: String,
      required: true,
      default: 'success'
    },
    alertIcon: {
      type: String,
      required: false,
      default: undefined
    },
    allertText:{
      type: String,
      required: true,
      default: 'Alert!'
    },
    alertBackground: {
      type: String,
      required: false,
      default: undefined
    },
    alertTextColor: {
      type: String,
      required: false,
      default: undefined
    },
    alertDelay: {
      type: String,
      required: false,
      default: '1000'
    },
    alertOpacity: {
      type: String,
      required: false,
      default: '0.9'
    },
    alertPositionY: {
      type: String,
      required: false,
      default: 'right'
    },
    alertPositionX: {
      type: String,
      required: false,
      default: 'bottom'
    },
    text: {
      type: String,
      required: true,
      default: 'Your text'
			},
    link: {
      type: String,
      required: false,
      default: 'javascript:void(0)'
    },
    color: {
      type: String,
      required: true,
      default: 'info'
    },
    block: {
      type: Boolean,
      required: false,
      default: false
    },
    borderRadius: {
      type: String,
      required: false,
      default: '2px'
    },
    backgroundColor: {
      type: String,
      required: false
    },
    textColor: {
      type: String,
      required: false
    },
    borderWidth: {
      type: String,
      required: false
    },
    borderColor: {
      type: String,
      required: false
    },
    fontSize: {
      type: String,
      required: false
    },
    id: {
      type: String,
      required:false
    }
  },
  data() {
    return {
      show: false,
      styleAlertBackground: {
        backgroundColor: this.alertBackground
      },
      styleAlertTextColor: {
        color: this.alertTextColor
      },
      styleAlertOpacity: {
        opacity: this.alertOpacity
      }
    }
  },
  methods: {
    showHide: function(){
      this.show = true;
      setTimeout(() => {
        this.show = false;
      }, this.alertDelay)
    }
  }
}
</script>

<style lang="scss">
.yalert{
  position: relative;
}
.alert-content{
  display: flex;
  align-items: center;
  width: 300px;
  background: black;
  color: #fff;
  padding: 10px;
  position: fixed;
  // bottom: 20px;
  // right: 20px;
  // opacity: 0.9;
  z-index: 99999999999999;
  .alert-icon{
    width: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
  }
}

.right{
  right: 20px;
}

.left{
  left: 20px;
}

.top{
  top: 20px;
}

.bottom{
  bottom: 20px;
}

.success{
		background-color: #4caf50;
		border: 1px solid #4caf50;
	}
.error{
  background-color: #ff5252;
  border: 1px solid #ff5252;
}
.warning{
  background-color: #fb8c00;
  border: 1px solid #fb8c00;
}
.info{
  background-color: #2196f3;
  border: 1px solid #2196f3;
}

.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
