<template>
	<div class="ybtn-classic">
		<a
			v-bind:id="id"
			v-bind:class="[color, { noblock: block }]"
			v-bind:style="[styleRadius, styleBackground, styleColor, colorBorder, widthBorder, styleSize]"
			v-bind:href="link"
		>
				{{text}}
		</a>
	</div>
</template>
<script>
export default {
	name: 'ybtn',
	props: {
			text: {
				type: String,
				required: true,
				default: 'Your text'
			},
			link: {
				type: String,
				required: false,
				default: 'javascript:void(0)'
			},
			color: {
				type: String,
				required: false,
				default: 'info'
			},
			block: {
				type: Boolean,
				required: true,
				default: false
			},
			borderRadius: {
				type: String,
				required: false,
				default: '2px'
			},
			backgroundColor: {
				type: String,
				required: false
			},
			textColor: {
				type: String,
				required: false
			},
			borderWidth: {
				type: String,
				required: false
			},
			borderColor: {
				type: String,
				required: false
			},
			fontSize: {
				type: String,
				required: false
			},
			id: {
				type: String,
				required:false
			}
	},
	data() {
		return {
			styleRadius: {
				borderRadius: this.borderRadius
			},
			styleBackground: {
				background: this.backgroundColor
			},
			styleColor: {
				color: this.textColor
			},
			colorBorder: {
				borderColor: this.borderColor
			},
			widthBorder:{
				borderWidth: this.borderWidth
			},
			styleSize: {
				fontSize: this.fontSize
			}
		}
	},
}
</script>

<style lang="scss" scoped>
.ybtn-classic{
	a{
		width: auto;
		padding: 10px 20px;
		margin: 6px 8px;
		background: inherit;
		text-decoration: none;
		box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
		min-width: 88px;
		outline: 0;
		-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
		// border-radius: 2px;
		color: #fff;
		font-size: 14px;
    font-weight: 500;
		cursor: pointer;
		font-weight: 600;
    letter-spacing: .5px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover{
			opacity: 0.8;
		}
	}
	.success{
		background-color: #4caf50;
		border: 1px solid #4caf50;
	}
	.error{
		background-color: #ff5252;
		border: 1px solid #ff5252;
	}
	.warning{
		background-color: #fb8c00;
		border: 1px solid #fb8c00;
	}
	.info{
		background-color: #2196f3;
		border: 1px solid #2196f3;
	}
	.noblock{
		display: initial;
	}
}
</style>
