<template>
  <div class="circle-btn">
    <a
      v-bind:href="link"
      v-bind:class="[{ circleBtnShadow: shadow }]"
      v-bind:style="[styleWidthHeight, styleBackground, styleColorIcon, widthBorder, colorBorder]"
    >
      <i v-bind:style="[styleSizeIcon]" class="material-icons">
        {{icon}}
      </i>
    </a>
  </div>
</template>

<script>
export default {
  name: 'circleBtn',
  props: {
    widthHeight: {
      type: String,
      required: false,
      default: '40px'
    },
    icon: {
      type: String,
      required: true,
      default: 'done'
    },
    background: {
      type: String,
      required: false
    },
    colorIcon: {
      type: String,
      required: false,
      default: '#000'
    },
    sizeIcon: {
       type: String,
      required: false,
      default: '20px'
    },
    shadow: {
      type: Boolean,
      required: false
    },
    link:{
      type: String,
      required: false,
      default: 'javascript:void(0)'
    },
    id: {
      type: String,
      required:false
    },
    borderWidth: {
      type: String,
      required: false,
      default:'0'
    },
    borderColor: {
      type: String,
      required: false,
      default:'none'
    },
  },
  data() {
    return {
      styleWidthHeight:{
        width: this.widthHeight,
        height: this.widthHeight
      },
      styleBackground: {
        backgroundColor: this.background
      },
      styleColorIcon: {
        color: this.colorIcon
      },
      styleSizeIcon: {
        fontSize: this.sizeIcon
      },
      colorBorder: {
				borderColor: this.borderColor
			},
			widthBorder:{
				borderWidth: this.borderWidth
			}
    }
  },
}
</script>

<style lang="scss">
  .circle-btn{
    a{
      text-decoration: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-transition: all ease-out 0.3s;
      -moz-transition: all ease-out 0.3s;
      -o-transition: all ease-out 0.3s;
      transition: all ease-out 0.3s;
      position: relative;
      margin: 6px 8px;
      border-radius: 50%;
      border-style: solid;
      &:after{
        content: "";
        width: 100%;
        height: 100%;
        background: #ccc;
        position: absolute;
        border-radius: 50%;
        display: none;
        opacity: 0.25;
      }
      &:hover{
        &:after{
          display: block;
        }
      }
    }
    .circleBtnShadow{
      box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    }
  }
</style>