html{
  height: 100%;
}
body{
  margin: 0;
  height: 100%;
  background-color: #fafafa;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

h1{
  font-size: 32px;
  font-weight: 400;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,0.87);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

h2{
  font-size: 24px;
  font-weight: 400;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,0.87);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: left;
}

.header-wrp{
  text-align: left;
  h1{
    margin-bottom: 10px;
  }
  p{
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,0.87);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin-bottom: 30px;
    span{
      background-color: #f5f5f5;
      color: #bd4147;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
      padding: 5px;
      border-radius: 4px;
    }
    a{
      display: flex;
      align-items: center;
      text-decoration: none;
      i{
        margin-right: 5px;
      }
    }
  }
}

.info-wrp{
  h2{
    margin-bottom: 25px;
  }
}

.example-component{
  padding: 16px;
  width: calc(100% - 30px);
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  border-radius: 2px;
  margin-bottom: 25px;
}

.api-wrp{
  padding: 16px;
  width: calc(100% - 30px);
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  border-radius: 2px;
  margin-bottom: 25px;
  .api-item{
    margin-bottom: 15px;
    .api-header{
      background: #e0e0e0;
      padding: 6px;
      display: flex;
      justify-content: space-between;
      span{
        color: #616161;
        font-size: 11px;
      }
      p{
        color: #333;
        font-size: 12px;
        font-weight: 600;
        margin-top: 4px;
        margin-bottom: 0;
      }
      .name{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
      }
      .default{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
      }
      .type{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 40%;
      }
    }
    .api-info{
      background-color: #f5f5f5;
      border-color: #f5f5f5;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        display: block;
        color: #333;
        font-size: 14px;
        margin: 0;
        text-align: left;
        span{
          background-color: #f5f5f5;
          color: #bd4147;
          box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
          padding: 5px;
          border-radius: 4px;
        }
      }
      pre{
        text-align: left;
        margin: 0;
      }
    }
  }
}