<template>
  <div class="alerts-info">
    <div class="header-wrp">
      <h1>Alert</h1>
      <p>Компонент <span>yalert</span> используется для передачи важной информации пользователю. Он состоит из четырёх вариантов: success, info, warning и error. У них есть назначенные иконки по умолчанию, которые можно изменить и представлять разные действия
        <a href="https://material.io/tools/icons/" target="_blank"><i class="material-icons">link</i>Icons</a>
      </p>
    </div>
    <div class="info-wrp">
      <h2>Применение</h2>
      <div class="example-component alerts-example">
        <div>
          <yalert
            alertColor='success'
            allertText='This is a success'
            alertIcon='check_circle'
            color='success'
            text='Success'
            alertPositionY='right'
          />
        </div>
        <div>
          <yalert 
            alertColor='error'
            allertText='This is a error'
            alertIcon='warning'
            color='error'
            text='Error'
            alertPositionY='left'
          />
        </div>
        <div>
          <yalert 
            alertColor='info'
            allertText='This is a info'
            alertIcon='info'
            color='info'
            text='Info'
            alertPositionY="right"
            alertPositionX="top"
          />
        </div>
        <div>
          <yalert
            alertColor='warning'
            alertIcon='priority_high'
            allertText='This is a warning'
            alertDelay= '500'
            alertOpacity= '0.5'
            text='Warning'
            color='warning'
            alertPositionY="left"
            alertPositionX="top"
          />
        </div>
      </div>
      <h2>API</h2>
      <div class="api-wrp">
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Buttons props</p>
            </div>
            <div class="default">
            </div>
            <div class="type">
            </div>
          </div>
          <div class="api-info">
            <p>Кнопки стилизуютса как и <span>ybtn</span>, только добавлять v-bind:<span>v-bind:color='style alert'</span></p>
<pre>
<code>
&lt;yalert v-bind:color='style alert' /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Alert style</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>'success'</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>'success', 'error', 'warning', 'info'</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>alertColor='style alert'</span></p>
<pre>
<code>
&lt;yalert alertColor='success' /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Alert icon</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>undefined, required = false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>alertIcon='priority_high'</span></p>
<pre>
<code>
&lt;yalert alertIcon='priority_high' /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Alert background</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>undefined, required = false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>alertBackground='#your color'</span></p>
<pre>
<code>
&lt;yalert alertBackground='#000' /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Alert color text</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>undefined, required = false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>alertTextColor='#your color'</span></p>
<pre>
<code>
&lt;yalert alertTextColor='#000' /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Alert Delay</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>1000ms, required = false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>alertDelay= 'Number ms'</span></p>
<pre>
<code>
&lt;yalert alertDelay= '500' /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Alert Opacity</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>0.9, required = false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>alertOpacity= 'opacity'</span></p>
<pre>
<code>
&lt;yalert alertOpacity= '0.5' /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Alert position (left, right)</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>'right'</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String(left or right)</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>alertPositionY="side"</span></p>
<pre>
<code>
&lt;yalert alertPositionY="right" /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Alert position (top, bottom)</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>'bottom'</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String(top or bottom)</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>alertPositionX="side"</span></p>
<pre>
<code>
&lt;yalert alertPositionX="bottom" /&gt;
</code>
</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.info-wrp{
  .alerts-example{
    display: flex;
    flex-direction: row;
  }
}
</style>
