<template>
  <div class="buttons-info">
    <div class="header-wrp">
      <h1>Кнопка</h1>
      <p>Компонент <span>ybtn</span> заменяет стандартную кнопку html.</p>
    </div>
    <div class="info-wrp">
      <h2>Применение</h2>
      <div class="example-component buttons-example">
        <div>
           <ybtn
            text="Success"
            color="success"
            :block="false"
          />
        </div>
        <div>
           <ybtn
            text="Error"
            color="error"
            :block="false"
          />
        </div>
        <div>
           <ybtn
            text="Warning"
            color="warning"
            :block="false"
          />
        </div>
        <div>
           <ybtn
            text="Info"
            color="info"
            :block="false"
          />
        </div>
      </div>
      <h2>API</h2>
      <div class="api-wrp">
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>text</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>'Your text'</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>text="Your text"</span></p>
<pre>
<code>
&lt;ybtn text="Your text" /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>link</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>'javascript:void(0)'</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>link="Your link"</span></p>
<pre>
<code>
&lt;ybtn link="http://yourlink.com"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>color</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>'Info'</p>
            </div>
            <div class="type">
              <span>Варианты</span>
              <p>'info', 'success', 'error', 'warning'</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>color="info"</span></p>
<pre>
<code>
&lt;ybtn color="info"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>block</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>Boolean</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>:block="false"</span></p>
<pre>
<code>
&lt;ybtn :block="false"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>border-radius</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>'2px'</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>borderRadius="10px"</span></p>
<pre>
<code>
&lt;ybtn borderRadius="10px"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>background-color</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>  backgroundColor='#color'</span></p>
<pre>
<code>
&lt;ybtn backgroundColor='#000'/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>color</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>  textColor="#color"</span></p>
<pre>
<code>
&lt;ybtn textColor="#fff"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>border-color</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>  borderColor="#color"</span></p>
<pre>
<code>
&lt;ybtn borderColor="#eee"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>border-color</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>  borderWidth="2px"</span></p>
<pre>
<code>
&lt;ybtn borderWidth="2px"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>font-size</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>fontSize="20px"</span></p>
<pre>
<code>
&lt;ybtn fontSize="20px"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>id</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>id="id your btn"</span></p>
<pre>
<code>
&lt;ybtn id="my-btn-1"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>@click</p>
            </div>
             <div>
              <span>Если используете компонент в другом компоненте используйте<p><b>@click.native="function"</b></p></span>
            </div>
          </div>
          <div class="api-info">
            
          </div>
        </div>
      </div>
    </div>
    <div class="header-wrp">
      <h1>Иконка</h1>
      <p>Компонент <span>circleBtn</span>. <a href="https://material.io/tools/icons/" target="_blank"><i class="material-icons">link</i>Icons</a> </p>
    </div>
    <div class="info-wrp">
      <h2>Применение</h2>
      <div class="example-component buttons-example">
        <div>
           <circleBtn 
            icon="delete_outline"
            colorIcon="#e91e63"
           />
        </div>
        <div>
           <circleBtn 
            icon="close"
            widthHeight="50px"
            background="#e91e63"
            colorIcon="#fff"
            sizeIcon="16px"
            :shadow="true"
           />
        </div>
        <div>
           <circleBtn 
            :shadow="true"
            icon="menu"
           />
        </div>
        <div>
          <circleBtn 
            icon="wifi"
            borderColor="#2196f3"
            colorIcon="#2196f3"
            borderWidth="1px"
          />
        </div>
      </div>
      <h2>API</h2>
      <div class="api-wrp">
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Icon</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>true</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>icon="your icon"</span></p>
<pre>
<code>
&lt;circleBtn icon="close" /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Width - Height</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>'40px'</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>widthHeight="50px"</span></p>
<pre>
<code>
&lt;circleBtn widthHeight="50px" /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Background</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span> background="#your color"</span></p>
<pre>
<code>
&lt;circleBtn background="#e91e63" /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Color Icon</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span> colorIcon="#your color"</span></p>
<pre>
<code>
&lt;circleBtn colorIcon="#fff" /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Size Icon</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span> sizeIcon="SIZEpx"</span></p>
<pre>
<code>
&lt;circleBtn sizeIcon="16px" /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Button Shadow</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>Boolean</p>
            </div>
          </div>
          <div class="api-info">
            <p><span> :shadow="true/false"</span></p>
<pre>
<code>
&lt;circleBtn :shadow="true" /&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>link</p>
            </div>
            <div class="default">
              <span>По умолчанию</span>
              <p>'javascript:void(0)'</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>link="Your link"</span></p>
<pre>
<code>
&lt;circleBtn link="http://yourlink.com"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>id</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>id="id your btn"</span></p>
<pre>
<code>
&lt;circleBtn id="my-btn-1"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>border-color</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>  borderColor="#color"</span></p>
<pre>
<code>
&lt;circleBtn borderColor="#eee"/&gt;
</code>
</pre>
          </div>
        </div>
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>border-color</p>
            </div>
            <div class="default">
              <span>required</span>
              <p>false</p>
            </div>
            <div class="type">
              <span>Тип</span>
              <p>String</p>
            </div>
          </div>
          <div class="api-info">
            <p><span>  borderWidth="1px"</span></p>
<pre>
<code>
&lt;circleBtn borderWidth="1px"/&gt;
</code>
</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.info-wrp{
  .buttons-example{
    display: flex;
    flex-direction: row;
  }
}
</style>
