<template>
  <div class="inputs-info">
    <div class="header-wrp">
      <h1>Carousel</h1>
      <p>Компонент <span>ycarousel</span></p>
    </div>
    <div class="info-wrp">
      <h2>Применение</h2>
      <div class="example-component inputs-example">
        <div>
          <ycarousel />
        </div>
      </div>
    </div>
  </div>
</template>