<template>
  <div class="inputs-info">
    <div class="header-wrp">
      <h1>Checkbox</h1>
      <p>Компонент <span>ycheckbox</span></p>
    </div>
    <div class="info-wrp">
      <h2>Применение</h2>
      <div class="example-component check-example">
        <div>
          <ycheckbox 
            v-on:input="input = $event"
						text="Your text"
          />
        </div>
				<div>{{input}}</div>
      </div>
			<h2>API</h2>
      <div class="api-wrp">
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Checkbox</p>
            </div>
            <div class="default">
            </div>
            <div class="type">
            </div>
          </div>
          <div class="api-info">
            <p>Example <span>ycheckbox</span></p>
<pre>
<code>
&lt;ycheckbox 
v-on:input="input = $event"
text="Your text"
/&gt;
data() {
  return {
    input: ''
  }
}
</code>
</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
		return {
			input: false
		}
	},
}
</script>

<style lang="scss">
.check-example{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	div{
		display: flex;
		justify-content: flex-start;
	}
}
</style>
