<template>
  <div class="inputs-info">
    <div class="header-wrp">
      <h1>Input</h1>
      <p>Компонент <span>yinput</span>
          <a href="https://material.io/tools/icons/" target="_blank"><i class="material-icons">link</i>Icons</a>
      </p>
    </div>
    <div class="info-wrp">
      <h2>Применение</h2>
      <div class="example-component inputs-example">
        <div>
          <!-- {{this.input}} -->
          <yinput
            v-bind:value="input"
            v-on:input="input = $event"
            placeholder="placeholder"
            borderRadius="2px"
            borderColor= "#ccc"
            borderWidth= "1px"
          />
        </div>
      </div>
      <h2>API</h2>
      <div class="api-wrp">
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Input</p>
            </div>
            <div class="default">
            </div>
            <div class="type">
            </div>
          </div>
          <div class="api-info">
            <p>Example <span>yinput</span></p>
<pre>
<code>
&lt;yinput
  v-bind:value="input"
  v-on:input="input = $event"
  placeholder="placeholder"
  borderRadius="2px"
  borderColor= "#ccc"
  borderWidth= "1px"
/&gt;
data() {
  return {
    input: ''
  }
}
</code>
</pre>
          </div>
        </div>
      </div>
    </div>
    <div class="header-wrp">
      <h1>Custom Input</h1>
      <p>Компонент <span>cinput</span>
          <a href="https://material.io/tools/icons/" target="_blank"><i class="material-icons">link</i>Icons</a>
      </p>
    </div>
    <div class="info-wrp">
      <h2>Применение</h2>
      <div class="example-component inputs-example">
        <div>
          <!-- {{this.cinput}} -->
          <cinput
            v-bind:value="input"
            v-on:input="cinput = $event"
            :text="cinput"
            placeholder="Placeholder"
            borderColor="#ccc"
            borderColorActive="#4caf50"
            :icon= 'true'
            iconColor="#4caf50"
            iconName="done"
          />
        </div>
      </div>
      <h2>API</h2>
      <div class="api-wrp">
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>cinput</p>
            </div>
            <div class="default">
            </div>
            <div class="type">
            </div>
          </div>
          <div class="api-info">
            <p>Example <span>cinput</span></p>
<pre>
<code>
&lt;cinput
  v-bind:value="input"
  v-on:input="cinput = $event"
  :text="cinput"
  
  /* you can chenge this value */
  placeholder="Placeholder"
  borderColor="#ccc"
  borderColorActive="#4caf50"
  :icon= 'true'
  iconColor="#4caf50"
  iconName="done"
/&gt;
data() {
  return {
    cinput: ''
  }
}
</code>
</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
   return {
      input: '',
      cinput: ''
   }
  }
}
</script>