<template>
<div class="inputs-info">
	<div class="header-wrp">
		<h1>Modal</h1>
		<p>Компонент <span>ymodal</span></p>
	</div>
	<div class="info-wrp">
		<h2>Применение</h2>
		<div class="example-component inputs-example">
			<div>
				<ymodal />
			</div>
		</div>
		<h2>API</h2>
      <div class="api-wrp">
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Modal</p>
            </div>
            <div class="default">
            </div>
            <div class="type">
            </div>
          </div>
          <div class="api-info">
            <p>Example <span>ymodal</span></p>
<pre>
<code>
&lt;ymodal /&gt;
</code>
</pre>
          </div>
        </div>
      </div>
	</div>
	<div class="header-wrp">
		<h1>Alert Modal</h1>
		<p>Компонент <span>amodal</span></p>
	</div>
	<div class="info-wrp">
		<h2>Применение</h2>
		<div class="example-component inputs-example">
			<div>
				<amodal 
					title="Your alert title"
					message="Your alert message"
				/>
			</div>
		</div>
		<h2>API</h2>
      <div class="api-wrp">
        <div class="api-item">
          <div class="api-header">
            <div class="name">
              <span>Имя</span>
              <p>Alert Modal</p>
            </div>
            <div class="default">
            </div>
            <div class="type">
            </div>
          </div>
          <div class="api-info">
            <p>Example <span>amodal</span></p>
<pre>
<code>
&lt;amodal
title="Your alert title"
message="Your alert message"
/&gt;
</code>
</pre>
          </div>
        </div>
      </div>
	</div>
</div>
</template>

<script>
export default {
    
}
</script>