<template>
  <div>
     <div class="nav-wrp">
       <div class="general-header">
          <div class="mobile-nav">
            <a href="">
              <i class="material-icons">
                menu
              </i>
            </a>
          </div>
          <div class="logo">
            <img alt="yanComponents logo" src="../assets/logo-yanComponents.png">
          </div>
      </div>
      <ul>
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
           <router-link to="/buttons">Buttons</router-link>
        </li>
        <li>
          <router-link to="/alerts">Alerts</router-link>
        </li>
        <li>
          <router-link to="/inputs">Inputs</router-link>
        </li>
        <li>
          <router-link to="/modals">Modals</router-link>
        </li>
        <li>
          <router-link to="/carousel">Carousel</router-link>
        </li>
        <li>
          <router-link to="/checkbox">Checkbox</router-link>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1</a>
        </li>
        <li>
          <a href="">Link 1 LAST</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GeneralNav'
}
</script>

<style lang="scss">
  .nav-wrp{
    .general-header{
    background-color: #1867c0;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    height: 60px;
    display: flex;
    align-items: center;
    height: 100%;
    height: 80px;
    padding-left: 15px;
    .mobile-nav{
      display: none;
      a{
        color: #fff;
      }
    }
    .logo{
      img{
        width: 200px;
      }
    }
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      a{
        display: flex;
        min-height: 40px;
        padding-left: 15px;
        align-items: center;
        font-size: 14px;
        color: rgba(0,0,0,0.87);
        font-weight: 500;
        text-decoration: none;
        &:hover{
          background: rgba(0,0,0,0.04);
        }
      }
    }
  }
}


</style>
