<template>
  <div class="carousel-wrp"
    v-touch:swipe.right="swipeRightHandler"
    v-touch:swipe.left="swipeLeftHandler"
  >
    <div class="item">
      <img src="https://www.telegraph.co.uk/content/dam/Travel/2018/January/sydney-best-GETTY.jpg?imwidth=450" alt="">
    </div>
    <div class="item">
      <img src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/31841-istock-868507586.jpg?itok=6WCogkcz&resize=1100x1100" alt="">
    </div>
    <div class="item">
      <img src="https://cdn.vox-cdn.com/thumbor/Ksi3v8e1tj1ZcQeRV1ZtmCYIM7k=/0x0:4284x2916/1200x800/filters:focal(1800x1116:2484x1800)/cdn.vox-cdn.com/uploads/chorus_image/image/61918529/NorthBroadSt_Landscape_1_M.Edlow.0.jpg" alt="">
    </div>
    <div class="item">
      <img src="https://cdn.images.express.co.uk/img/dynamic/22/590x/city-754914.jpg" alt="">
    </div>
    <div class="carousel-nav">
      <div class="prev">
        <circleBtn icon="chevron_left" @click.native="prev" />
      </div>
      <div class="next">
        <circleBtn icon="chevron_right" @click.native="next" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: undefined,
      itemsConut: '',
      itemShow: 0
    }
  },
  mounted: function () {
   var items = document.getElementsByClassName('item');
   var i = items.length
   this.items = items
   this.itemsConut = items.length
    for(var i = 0; i < items.length; i += 1) {
      items[i].classList.add('animated');
      if(i != this.itemShow){
        items[i].classList.add('hidden');
      }
    }
  },
  methods: {
    next: function () {
      if(this.itemShow != this.itemsConut -1){
        this.itemShow += 1
        this.items[this.itemShow].classList.add('slideInRight')
        this.items[this.itemShow].classList.remove('hidden')
        for(var i = 0; i < this.items.length; i += 1) {
          if(i != this.itemShow){
            this.items[i].classList.add('hidden');
          }
        }
      }
    },
    prev: function () {
      if(this.itemShow != 0){
        this.itemShow -= 1
        this.items[this.itemShow].classList.remove('slideInRight')
        this.items[this.itemShow].classList.add('slideInLeft')
        this.items[this.itemShow].classList.remove('hidden')
        for(var i = 0; i < this.items.length; i += 1) {
          if(i != this.itemShow){
            this.items[i].classList.add('hidden');
          }
        }
      }
    },
    swipeRightHandler: function () {
      this.prev()
    },
    swipeLeftHandler: function () {
      this.next()
    }
  }
}
</script>

<style lang="scss">
.carousel-wrp{
  width: 100%;
  overflow-x: hidden;
  .item{
    width: 100%;
    height: 500px;
    // background: red;
    margin-bottom: 10px;
    animation-duration: .6s;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .hidden{
    display: none;
  }
  .carousel-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
