<template>
    <div class="checkbox">
        <input 
          v-on:input="$emit('input', $event.target.checked)"
          v-model="checked" 
          class="styled-checkbox" 
          id="county-1" 
          type="checkbox" 
          value="value4">
        <label for="county-1"><span>{{text}}</span></label>
    </div>
</template>

<script>
export default {
  data() {
    return {
      checked: []
    }
  },
  props: {
    text: {
      type: String,
      required: true,
      default: 'Your text'
    }
  }
}
</script>

<style lang="scss">
.checkbox{
  position: relative;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox+label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.styled-checkbox+label span {
  padding-top: 3px;
}
.styled-checkbox+label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ccc;
}
.styled-checkbox:checked+label:before {
  background: #f35429;
}
.styled-checkbox:disabled+label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled+label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked+label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 10px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
