<template>
  <div id="app">
    <div class="main">
      <div class="general-nav">
        <GeneralNav />
      </div>
      <div class="general-content">
        <transition
          name="fade"
          mode="out-in"
        >
          <router-view/>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import GeneralNav from '@/components/GeneralNav.vue'

export default {
  components:{
    GeneralNav
  }
}
</script>

<style lang="scss">
@import './assets/css/global.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

.main{
  width: 100%;
  display: flex;
  height: 100%;
  .general-nav{
    width: 20%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    z-index: 9999;
    background: #fff;
  }
  .general-content{
    height: auto;
    width: 80%;
    margin-left: 20%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    overflow-x: hidden;
  }
}


/* SCROLL SINGLE PAGE */
.general-nav::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 21px;
    height: 0px;
}
.general-nav::-webkit-scrollbar-track {
    background-color: #eee;
}
.general-nav::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #ccc;
}
.general-nav::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}
.general-nav::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 13px;
    height: 0px
}
.general-nav::-webkit-scrollbar {
    width: 13px;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.slide-fade-enter-active {
  transition: all .4s ease;
}
.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
  transition: .3s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
</style>
